%legend Coauthors
%br
%p{style: "margin-left: 150px; margin-right: 200px; font-size: 17px"} You can add up to 5 coauthors to your session by<b> entering their emails</b>. Authors that already have an account will automatically be added to the session. Authors that don't have an account will have their email linked to a new account. <b>Please use valid emails for each coauthor.<b>
%div
  %p{style: "margin-left: 80px; font-size: 17px"} Coauthor 1
  = f.input :coauthor_1, label: "Email",:input_html => { :style => "width:220px !important" }
  = f.input :coauthor_1_name, label: "First name", :input_html => { :style => "width:220px !important" }
  = f.input :coauthor_1_last_name, label: "Last name", :input_html => { :style => "width:220px !important" }
%hr
%div
  %p{style: "margin-left: 80px; font-size: 17px"} Coauthor 2
  = f.input :coauthor_2, label: "Email",:input_html => { :style => "width:220px !important" }
  = f.input :coauthor_2_name, label: "First name", :input_html => { :style => "width:220px !important" }
  = f.input :coauthor_2_last_name, label: "Last name", :input_html => { :style => "width:220px !important" }
%hr
%div
  %p{style: "margin-left: 80px; font-size: 17px"} Coauthor 3
  = f.input :coauthor_3, label: "Email",:input_html => { :style => "width:220px !important" }
  = f.input :coauthor_3_name, label: "First name", :input_html => { :style => "width:220px !important" }
  = f.input :coauthor_3_last_name, label: "Last name", :input_html => { :style => "width:220px !important" }
%hr
%div
  %p{style: "margin-left: 80px; font-size: 17px"} Coauthor 4
  = f.input :coauthor_4, label: "Email",:input_html => { :style => "width:220px !important" }
  = f.input :coauthor_4_name, label: "First name", :input_html => { :style => "width:220px !important" }
  = f.input :coauthor_4_last_name, label: "Last name", :input_html => { :style => "width:220px !important" }
%hr
%div
  %p{style: "margin-left: 80px; font-size: 17px"} Coauthor 5
  = f.input :coauthor_5, label: "Email",:input_html => { :style => "width:220px !important" }
  = f.input :coauthor_5_name, label: "First name", :input_html => { :style => "width:220px !important" }
  = f.input :coauthor_5_last_name, label: "Last name", :input_html => { :style => "width:220px !important" }

%hr
